<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="gmailLogIn">
	<test verbose="1" name="com.google.login">
		<groups>
			<run>
				<include name="validLogIn"></include>
			</run>
		</groups>
		<classes>
			<class name="com.linkedIn.maven.logIn" />			
		</classes>
	</test>
</suite>
